.products {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.product-item {
    width: 250px;   
    text-align: center;
    border: 1px solid red;
    padding-bottom: 10px;
    margin: 10px;
    
}

img {
    width: 100px;
}



.btn-cart {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn-cart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn-cart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn-cart:hover span {
    padding-right: 25px;
  }
  
  .btn-cart:hover span:after {
    opacity: 1;
    right: 0;
  }